<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind PostCSS</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div
      class="text-5xl text-center text-clifford font-bold w-full h-screen bg-gradient-to-br from-purple-300 to-pink-300 via-cyan-300"
    >
      Hello world!
    </div>
    <div class="prose prose-lg w-full h-screen text-3xl mt-12 bg-green-200">
      <h1>Hi, I am Nur Nabi</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, quam.
        Perferendis veritatis mollitia, nobis exercitationem iste esse nulla
        obcaecati debitis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nam,
        cupiditate culpa in vitae perferendis consectetur quo officiis minus?
        Eaque enim unde odit eos delectus hic praesentium cupiditate ab
        temporibus.
      </p>
      <a
        href=""
        class="px-8 py-3 rounded-md bg-[#1DA1F2] shadow-md shadow-[#1DA1F2]/40 text-white hover:bg-sky-900"
        >Follow Me on Twitter</a
      >
    </div>
  </body>
</html>
